@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');
body {
    overflow-x: hidden;
}
.text-container {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    padding: 10px;
    text-align: right;
    background-color: rgba(0, 0, 0, 0.5);
    padding-right: 20px; /* Agrega padding a la derecha */
    padding-bottom: 20px; /* Agrega padding al bottom */
    word-wrap: break-word; /* Permite saltos de línea en palabras largas */
    direction: rtl; /* Cambia la dirección del texto a derecha-izquierda */
    text-align: right; /* Asegura la alineación a la derecha */
}
.custom-form-group {
    text-align: center; /* Centra el contenido dentro del form-group */
    margin-bottom: 5px; /* Agrega margen en la parte inferior */
}

.custom-width {
    width: 10cm; /* Ancho deseado */
    margin: 0 auto; /* Centra horizontalmente dentro del form-group */
    padding-left: 10px;
}
#nombre {
    margin-right: 50px;
}

/* Agregar margen izquierdo al segundo campo de entrada */
#apellido {
    margin-left: 10px;
}

.custom-verde-claro {
    background-color: #5cb85c; /* Cambia el color de fondo a verde claro */
    color: white; /* Cambia el color del texto a blanco */
    border: none; /* Elimina el borde */
    border-radius: 0; /* Elimina la esquina redondeada si la hubiera */
}
.header {
    background-color: #3c3e3e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.header .logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header .logo img {
    margin-right: 10px;
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.header .logo span {
    color: white;
    white-space: nowrap; /* Evita saltos de línea */
}

.header nav {
    margin-left: auto;
}

/* Estilos de la navegación */
.header .nav-links {
    list-style: none;
    display: flex;
    align-items: center; /* Centra verticalmente los elementos */
    padding: 0;
    margin: 0;
}

.header .nav-links li {
    display: inline-block;
    margin: 0 10px; /* Añade espacio horizontal entre los elementos */
}

.header .nav-links a {
    font-size: 700;
    color: #66696b;
    text-decoration: none;
}

.header .nav-links .colorWhite {
    color: white;
}

.header .nav-links .colorGreen {
    color: green;
}

.header .nav-links li:hover {
    transform: scale(1.1);
}

.header .nav-links a {
    font-size: 700;
    color: #66696b;
    text-decoration: none;
}

.header .nav-links .colorWhite {
    color: white;
}

.header .nav-links .colorGreen {
    color: green;
}

.header nav {
    margin-left: auto;
}

/* Ajusta la imagen para que cubra todo el ancho de la página */
.image-container img {
    width: 100%;
    height: auto;
}

/* Posiciona el componente image-content-container en la esquina inferior derecha */
.image-content-container {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
    padding: 10px;
    text-align: right;
    max-width: 50%;
    word-wrap: break-word;
}

.customPosition {
    position: relative;
    top: -100px; /* Ajusta este valor negativo para mover el componente hacia arriba */
    right: 100px;
}

.image-container img {
    max-width: 100%;
    height: auto;
    opacity: 5; /* Puedes ajustar el valor entre 0 (completamente transparente) y 1 (completamente opaco) según tus preferencias */

}


.no-margins {
    margin: 0;
    padding: 0;
}

.text-bottom-right {
    position: absolute;
    bottom: 10;
    right: 10;
    color: white;
    padding: 10px;
    text-align: right; /* Alinea el texto a la derecha dentro del contenedor */
}

.boton-transparente {
    background-color: transparent;
    border: 1px solid #ccc;
    color: white;
    border-radius: 5px;
}

.boton-verde {
    border: 1px solid #ccc;
    color: white;
    border-radius: 5px;
}

.sub-puntos {
    border-bottom: 1px dotted #000;
    text-decoration: none;
}

.footer-links {
    display: flex;
    flex-wrap: wrap; /* Envolver elementos si no caben en una sola fila */
    justify-content: center; /* Centrar horizontalmente los elementos */
}

/* Espacio entre los enlaces */
.footer-links a {
    margin: 5px;
    text-decoration: none; /* Quitar subrayado */
    color: white; /* Color del texto */
}

.nav-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: right; /* Alinea todo el contenido hacia la derecha */
}

.nav-links li {
    flex: 1;
    text-align: center;
    margin: 5px;
    padding: 10px;
}

.menu-long {
    white-space: nowrap;
}
.footer-links a {
    margin-right: 30px; /* Agrega un espacio de 10px a la derecha de cada enlace */
    text-decoration: none; /* Quitar subrayado */
    color: white; /* Color del texto */
}